@page
@model DataHole.Pages.Users.JoeSchmoeModel
@{
}

<div class="text-center">
    <h1 class="display-4">Accounts</h1>
    <table id="accounts" border="1" align="center">
        <tr>
            <th>Account Name</th>
            <th>Account Number</th>
            <th>Description</th>
            <th>Balance</th>
            <th>Account Type</th>
            <th>Nexus Account Type</th>
        </tr>
        <tr>
            <td>Joes Checking</td>
            <td>XXXX-5399</td>
            <td>Joes Checking</td>
            <td>158765776.30</td>
            <td>Checking</td>
            <td>Cash</td>
        </tr>
        <tr>
            <td>Joes Savings</td>
            <td>XXXX-2981</td>
            <td>Joes Savings</td>
            <td>2345.30</td>
            <td>Savings</td>
            <td>Cash</td>
        </tr>
    </table>
</div>